<!DOCTYPE html>
<html>
<head>
<style>
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto ;
	width: auto;
    height: auto;
}
</style>
</head>
<body>
<div class="contain">
<IMG class="displayed" src=" {{ doge_url }}" alt="doge"/>
<div>
</body>
</html>

